
    <% if(!user){ %>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    <% } else { %>
      <p>Logged in as <%= user.email %><p>
        <form class="uselater" action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
    <% } %>
