<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="uselater" action="/login" method="POST">
      <label for="Email">Email</label>
      <input id="id" type="email" name="email" style="width: 300px"><br/>
      <label for="Password">Password</label>
      <input id="id" type="password" name="password" style="width: 300px"> <br/>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
