<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TinyApp</title>
  </head>
  <body>
    <header>
    <% include partials/_header %>
    </header>
    <ul>
        <% for (let prop in urls) { %>
          <li>
            <a href="#">
              <%= prop %> - <%= JSON.stringify(urls[prop].longURL) %>
            </a>
          </li>
          <form method="POST" action="/urls/<%= prop %>/delete">
            <% if (urls[prop].ownedByCurrentUser) {%>
              <button type="submit"><a href="/urls/<%= prop %>">Edit</a></button>
            <% } %>
            <% if (urls[prop].ownedByCurrentUser) {%>
              <button type="submit">Delete</button>
            <% } %>
            <% if (urls[prop].ownedByCurrentUser) {%>
              <button type="submit"><a href="/urls/new">Create a New Short Link</a></button>
            <% } %>
          </form>
        <% }; %>
    </ul>
  </body>
</html>
